<div class="grid">
  <div class="controls">
    <button mat-flat-button color="primary" (click)="getData()">Get data</button>

    <button mat-flat-button color="primary" (click)="getCurrentUserData()">
      Get current user data
    </button>
  </div>

  <h1 class="title">{{ title }}</h1>
  <h3 class="sub-title">{{ entries.length }} Entries</h3>

  <div class="content">
    <ng-container *ngIf="entries.length; else noData">
      <gl-card-post *ngFor="let card of entries; index as i" [model]="card" [id]="i"></gl-card-post>
    </ng-container>
  </div>
</div>

<ng-template #noData>
  <gl-no-data noDataText="No posts yet..."></gl-no-data>
</ng-template>
