<div class="grid">
  <div class="controls">
    <div class="sorting">
      <span>Sorting:</span>
      <button mat-icon-button (click)="sort(sorting.ASC)">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button mat-icon-button (click)="sort(sorting.DESC)">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
  </div>

  <h1 class="title" *ngIf="title">{{ title }}</h1>

  <div class="content">
    <ng-container *ngIf="entries$ | async as posts; else noData">
      <gl-card-post *ngFor="let card of posts; index as i" [model]="card" [id]="i"></gl-card-post>
    </ng-container>
  </div>
</div>

<ng-template #noData>
  <gl-no-data noDataText="No posts yet..."></gl-no-data>
</ng-template>
