<mat-card>
  <mat-card-title-group>
    <img mat-card-avatar *ngIf="model.avatar" [src]="model.avatar" />
    <mat-card-title>{{ model.title }}</mat-card-title>
    <mat-card-subtitle>{{ subTitle }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content *glIdentity="['user']">
    <img mat-card-image *ngIf="model.preview" [src]="model.preview" />
    <p>{{ model.content }}</p>
    <pre>{{ model | json }}</pre>
  </mat-card-content>
  <mat-card-footer>{{ model.updatedAt | date }} | {{ model.footer | noData }}</mat-card-footer>
</mat-card>
