<mat-card>
  <mat-card-title>Sign in</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <p>
        <mat-form-field>
          <label for="email">Email</label>
          <input
            matInput
            placeholder="Email"
            type="text"
            class="form-control"
            id="email"
            required
            [(ngModel)]="signIn.email"
            name="email"
            #email="ngModel"
          />

          <mat-error *ngIf="email.touched && email.hasError('required')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <label for="password">Password</label>
          <input
            matInput
            placeholder="Password"
            type="password"
            class="form-control"
            id="password"
            required
            [(ngModel)]="signIn.password"
            name="password"
            #password="ngModel"
          />

          <mat-error *ngIf="password.touched && password.hasError('required')">
            Please enter your password
          </mat-error>
        </mat-form-field>
      </p>
      <div class="button">
        <button type="submit" mat-button [disabled]="!loginForm.form.valid" color="primary">
          Login
        </button>
      </div>
      <pre>Email</pre>
      <pre>value: {{ email.value | json }}</pre>
      <pre>pristine: {{ email.pristine }}</pre>
      <pre>touched: {{ email.touched }}</pre>
      <pre>status: {{ email.status }}</pre>
      <pre>errors: {{ email.errors | json }}</pre>
      <pre>Password</pre>
      <pre>value: {{ password.value | json }}</pre>
      <pre>pristine: {{ password.pristine }}</pre>
      <pre>touched: {{ password.touched }}</pre>
      <pre>status: {{ password.status }}</pre>
      <pre>errors: {{ password.errors | json }}</pre>
      <pre>Form</pre>
      <pre>value: {{ loginForm.form.value | json }}</pre>
      <pre>pristine: {{ loginForm.form.pristine }}</pre>
      <pre>touched: {{ loginForm.form.touched }}</pre>
      <pre>status: {{ loginForm.form.status }}</pre>
      <pre>errors: {{ loginForm.form.errors | json }}</pre>
    </form>
  </mat-card-content>
</mat-card>
